footer {
  background-color: #3d2200;
  color: #f8fddd;
  font-family: "fira-sans-extra-condensed", cursive;
}

a {
  text-decoration: none;
  color: #f8fddd;
}

/*

Climate Crisis

Fira Sans Extra Condensed

crema
#F8FDDD

verde
#AECF75

marron
#3D2200

*/
