<div class="container-fluid px-0">
  <footer class="w-100">
    <div class="container text-md-left">
      <div class="row text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">
            Our Company
          </h5>
          <p>
            We are a company dedicated to the production and commercialization
            of coffee, connecting local producers with global markets to bring
            the best products to your table.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">
            Products
          </h5>
          <p>
            <a href="/coffees" style="text-decoration: none">Coffee</a>
          </p>
          <p>
            <a href="#" style="text-decoration: none">Espresso machines</a>
          </p>

          <p>
            <a href="/about" style="text-decoration: none">About</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">
            Useful Links
          </h5>

          <p>
            <a href="/legal/termsandconditions" style="text-decoration: none"
              >Terms and Conditions</a
            >
          </p>
          <p>
            <a href="/legal/privacypolicy" style="text-decoration: none"
              >Privacy</a
            >
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">
            Contact
          </h5>
          <p><i class="fas fa-home mr-3"></i> Buenos Aires, Argentina</p>
          <p><i class="fas fa-envelope mr-3"></i> {{ businessEmail }}</p>
          <p><i class="fas fa-phone mr-3"></i> 0800-000-0800</p>
        </div>

        <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-bold text-white">
            Follow Us
          </h5>
          <a
            href="https://facebook.com/"
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998; border: none"
            role="button"
            ><i class="fab fa-facebook-f">Facebook</i></a
          >

          <a
            href="https://instagram.com/"
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca; border: none"
            role="button"
            ><i class="fab fa-linkedin-in">Instagram</i></a
          >
        </div>
      </div>
      <hr class="mb-4" />
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-8">
          <p>
            © 2024 All rights reserved:
            <a href="/" style="text-decoration: none">
              <strong class="text-white">BeanBliss.com</strong>
            </a>
          </p>
        </div>
        <div class="col-md-5 col-lg-4">
          <p class="text-right">
            Designed by
            <a href="/about" class="text-white" style="text-decoration: none"
              ><strong>Brian Vazques</strong></a
            >
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
