<div class="container-fluid px-0">
  <header>
    <div class="title">
      <h2>For True Connoisseurs</h2>
      <h3>Savor the Perfection of Freshly Ground Beans</h3>
      <span class="hdspan">
        Discover the unparalleled aroma and flavor of freshly ground beans with
        our premium selection. Elevate your coffee experience at home with the
        finest blends.
      </span>
    </div>
    <div class="coffeeGrain">
      <img src="/bean2.png" alt="coffe bean" class="coffeeGrain2" />
    </div>
    <div class="coffeeGrain">
      <img src="/bean2.png" alt="coffe bean" class="coffeeGrain3" />
    </div>
  </header>
  <div class="subTitle">
    <h2>Our Coffees</h2>
  </div>

  <div class="coffeesContainer">
    @for (coffee of coffees; track coffee.id) {

    <div class="card">
      <div class="card-body my-5" style="border-radius: 5px">
        <img src="{{ coffee.image }}" class="cardImg" alt="coffee image" />
        <h3 class="card-title">{{ coffee.title }}</h3>
        <p>
          <span class="cardTitle">ingredients:</span> {{ coffee.ingredients }}
        </p>
        <a href="/coffees/{{ coffee.id }}" class="btn detailsBtn">Details</a>
      </div>
    </div>
    }
  </div>
</div>
