<div class="container">
  <div class="w-75 p-3 my-5 mx-auto">
    <h2>General Conditions</h2>
    <h3>TERMS AND CONDITIONS OF THE SITE</h3>
    <p>Welcome to the BeanBliss Argentina website.</p>
    <p>
      BeanBliss Argentina S.A. (“BeanBliss”) is committed to maintaining the
      trust of the users of its website. The following terms and conditions
      govern the use of the website.
    </p>

    <h3>1. Permitted Use</h3>
    <p>
      Please feel free to browse our website and, when available, to contribute
      material such as questions, posts, and multimedia content (such as photos,
      videos).
    </p>
    <p>
      However, the use of the website and the materials shared must not be
      illegal or offensive in any way. You must ensure that:
    </p>
    <ul>
      <li>(a) You do not violate another person's right to privacy;</li>
      <li>(b) You do not infringe intellectual property rights;</li>
      <li>
        (c) You do not make defamatory comments (including towards BeanBliss),
        relate to pornography, are racist or xenophobic in nature, promote
        hatred or incite violence or disorder;
      </li>
      <li>
        (d) You do not share or upload files that contain viruses or could lead
        to security issues;
      </li>
      <li>
        (e) You do not perform any other act or comment that could jeopardize
        the integrity of the website.
      </li>
    </ul>
    <p>
      Please note that BeanBliss may remove or delete any content from the
      website that it considers illegal or offensive.
    </p>

    <h3>2. Personal Data Protection</h3>
    <p>
      Our Privacy Policy applies to any personal information or materials shared
      on the website. Please refer to it here.
    </p>

    <h3>3. Intellectual Property</h3>
    <h4>- Content provided by BeanBliss</h4>
    <p>
      The content of our websites provided by BeanBliss or on its behalf,
      including texts, trademarks, logos, diagrams, photographs, videos, sounds,
      music, designs, knowledge, technologies, products, and processes, are the
      property of BeanBliss Group or its licensors, and consequently are
      protected by copyright, trademarks, patents, and other intellectual or
      industrial property rights existing under applicable law.
    </p>
    <p>
      You may reproduce extracts from the website for your own private
      (non-commercial) use provided you keep intact and respect the intellectual
      property rights, including any copyright notice that appears on that
      content (for example © 2016 BeanBliss). Any other use, including
      reproduction, modification, distribution, transmission, or dissemination
      of the website content, in whole or in part and by any means, is strictly
      prohibited, except with prior written consent from us.
    </p>

    <h4>- Content provided by You</h4>
    <p>
      You guarantee to BeanBliss that you are the author of the content you
      contribute to the website, or that you have the rights (i.e., have been
      authorized by the rights holders) and can contribute that content (for
      example photos, videos, music) to the website.
    </p>
    <p>
      You agree that this content will be treated as non-confidential and grant
      BeanBliss a free, perpetual, worldwide license to use (including to share,
      reproduce, transmit, publish, and disseminate) the content you contribute
      for purposes related to its business.
    </p>
    <p>
      Please note that BeanBliss may freely decide whether or not to use that
      content and that BeanBliss may have already developed similar content or
      obtained that content from other sources, in which case the intellectual
      property rights over that content will remain with BeanBliss and its
      licensors.
    </p>

    <h3>4. Liability</h3>
    <p>
      While BeanBliss makes its best efforts to ensure the accuracy and
      truthfulness of the materials on the website and to avoid alterations, we
      are not responsible for inaccurate information, alterations, cessation or
      suspension, or other events that may cause you harm, whether directly (for
      example, computer failures) or indirectly (for example, lost profits,
      consequential damages). Any use relying on the materials will be at your
      own risk.
    </p>
    <p>
      This website may contain links to websites outside BeanBliss. BeanBliss
      has no control over third-party websites, does not necessarily promote or
      endorse them, and is not responsible for them (whether for their content,
      accuracy, or operation). Therefore, we invite you to carefully review the
      legal notices and policies of those third-party websites and stay informed
      of any changes they may have in the future.
    </p>
    <p>
      You may operate a third-party website and wish to create a link to this
      website. BeanBliss does not object to this provided that you use exactly
      the URL of the home page of this website (i.e., not other types of links,
      such as “deep diving”) and do not suggest in any way that you are
      associated, promoted, or endorsed by BeanBliss. You must not use framing
      techniques or similar practices, and must ensure that the link to the
      website opens in a new window.
    </p>

    <h3>5. Contact Us</h3>
    <p>
      The website is operated by BeanBliss Argentina S.A., with address at Av
      Unknown 9999, Ciudad A. de Buenos Aires.
    </p>
    <p>
      If you have a question or comment related to this website, please contact
      us by: (i) email: {{ businessEmail }}, or (ii) phone: at 0800-999-8100.
    </p>

    <h3>6. Changes</h3>
    <p>
      BeanBliss reserves the right to make changes to these terms and conditions
      of use. Please check this page periodically to review these terms and any
      new information.
    </p>

    <h3>7. Applicable Law and Jurisdiction</h3>
    <p>
      The website is directed to users located in Argentina. BeanBliss does not
      guarantee that the products and content of this website are appropriate or
      available outside the country.
    </p>
    <p>
      You and BeanBliss agree that any claim or dispute related to the website
      will be governed and interpreted according to the laws of the Argentine
      Republic and resolved by the ordinary courts of the Autonomous City of
      Buenos Aires, waiving any other jurisdiction.
    </p>
  </div>
</div>
