<div class="container">
  <div class="w-75 p-3 my-5 mx-auto">
    <h2>Privacy Policy</h2>
    <p>
      The information provided by you will be retained by BeanBliss Argentina
      S.A. (“BeanBliss”), located at Avda. notdeclared 9999, CABA, Buenos Aires
      Province, solely for the purpose stated in this Privacy Policy.
    </p>
    <p>
      As the data controller, BeanBliss guarantees that the internal processes
      of its databases comply with the legal obligations of security and
      confidentiality imposed by Law No. 25.326 on the Protection of Personal
      Data and ensures access, updating, deletion, or rectification of data by
      the data subject (Articles 14 and 15 of Law 25.326).
    </p>
    <p>
      The data subject has the right to access their personal data for free at
      intervals of no less than six months, unless a legitimate interest is
      demonstrated as per Article 14, paragraph 3 of Law No. 25.326.
    </p>
    <p>
      The Agency for Access to Public Information, the control body of Law
      25.326, has the authority to address complaints and claims regarding the
      violation of personal data protection laws.
    </p>
    <p>
      BeanBliss is committed to protecting your privacy and ensuring that you
      continue to trust BeanBliss with your personal information.
    </p>
    <p>
      When you interact with us, you may share personal information that allows
      us to identify you individually (e.g., name, email, address, phone number,
      real-time location). This is referred to as "personal information" or
      "personal data" interchangeably.
    </p>
    <p>This Privacy Policy establishes:</p>
    <ol>
      <li>Scope and Acceptance</li>
      <li>Personal Information Collected by BeanBliss</li>
      <li>Children's Personal Information</li>
      <li>Why BeanBliss Collects Personal Information and How It Uses It</li>
      <li>Personal Information Shared by BeanBliss</li>
      <li>Your Rights</li>
      <li>Security and Retention of Information</li>
      <li>How to Contact Us</li>
    </ol>
    <h3>1. Scope and Acceptance of this Privacy Policy</h3>
    <p>
      This Privacy Policy applies to the personal information we collect about
      you to provide our products and services.
    </p>
    <p>
      By using BeanBliss Sites (as defined below) or providing us with your
      personal information, you expressly agree to the terms and practices
      described in this Privacy Policy. If you do not agree with the Privacy
      Policy, please do not use BeanBliss Sites (as defined below) or provide us
      with your personal information.
    </p>
    <p>
      BeanBliss reserves the right to make changes to this Privacy Policy at any
      time. We encourage you to review the Privacy Policy periodically to ensure
      you are aware of any changes and how your personal information may be
      used.
    </p>
    <p>
      Please note that you are not required to provide your data on the website,
      and your failure to do so will not result in any consequences. However,
      generally, the data marked with an asterisk is necessary to make
      purchases, receive the information you requested, or participate in the
      promotion or contest you wish.
    </p>
    <p>
      If you submit information to the website as a user, it will be understood
      that you expressly agree and consent for BeanBliss to integrate such
      information into a database, to use it for the purposes set out and
      explained here.
    </p>
    <h3>2. Personal Information Collected by BeanBliss</h3>
    <p>
      BeanBliss may collect personal information about you from a variety of
      sources, including:
    </p>
    <ul>
      <li>
        Online and electronic interactions with us, including through BeanBliss
        websites, mobile applications, text messaging programs, or through
        BeanBliss-branded sites or applications on third-party social networks
        (e.g., Facebook) (referred to as "BeanBliss Sites");
      </li>
      <li>
        Offline interactions with us, including through direct marketing
        campaigns, physical copies of registration cards, competition entries,
        and contacts through BeanBliss call centers; and
      </li>
      <li>
        Your interaction with targeted online content (such as ads) that
        BeanBliss, or service providers on our behalf, provide through
        third-party websites or applications.
      </li>
    </ul>
    <h3>Information You Provide Directly</h3>
    <ul>
      <li>
        Personal contact information, including any information that allows
        BeanBliss to contact you personally (e.g., name, physical or email
        address, and phone number);
      </li>
      <li>
        Demographic information, including date of birth, age, gender, location
        (e.g., postal code, city and state, and geolocation), favorite products,
        hobbies, interests, and information about your household or lifestyle;
      </li>
      <li>
        Payment information, including to make purchases (e.g., credit card
        number, expiration date, billing address);
      </li>
      <li>
        Account login information, including any information needed to establish
        a user account with BeanBliss (e.g., login ID/email, username, password,
        and security question/answer);
      </li>
      <li>
        Consumer feedback, including information you share with BeanBliss about
        your experience using BeanBliss products and services (e.g., your
        comments and suggestions, testimonials, and other opinions related to
        BeanBliss products); and
      </li>
      <li>
        Consumer-generated content, including any content (e.g., photos, videos,
        and personal stories) that you create and share with BeanBliss (and
        perhaps others) by uploading it to BeanBliss Sites.
      </li>
    </ul>
    <h3>Information We Collect When You Interact with BeanBliss Sites</h3>
    <p>
      BeanBliss uses cookies and other tracking technologies that collect
      certain types of information when you interact with BeanBliss Sites.
      Please see our Cookie Policy regarding these technologies and your rights
      related to them. See Cookie Policy.
    </p>
    <h3>Information Collected from Other Sources</h3>
    <p>
      We may collect information about you from other legitimate sources to
      provide you with our products and services. These sources include
      third-party data aggregators, BeanBliss promotional partners, public
      sources, and third-party social networking sites. This information may
      include:
    </p>
    <ul>
      <li>
        Personal contact and geolocation information; and any personal
        information that is part of your profile on a third-party social network
        (e.g., Facebook) and that you authorize the third-party social network
        to share with us (e.g., name, email address, gender, date of birth,
        city, profile picture, username, friend list).
      </li>
      <li>
        You can learn more about the information we may obtain about you by
        visiting the website of the relevant third-party social network.
      </li>
      <li>
        We may also receive personal information about individuals when we
        acquire other companies.
      </li>
    </ul>
    <h3>3. Children's Personal Information</h3>
    <p>
      BeanBliss does not knowingly solicit or collect personal information from
      children under 12. If BeanBliss discovers that it has accidentally
      collected personal information from a child under 12, it will remove the
      child's personal information from its records as soon as possible.
      However, BeanBliss may collect personal information from children under 12
      directly from parents or guardians, with their explicit consent.
    </p>
    <h3>4. Why BeanBliss Collects Personal Information and How It Uses It</h3>
    <p>
      BeanBliss collects and uses personal information as necessary for the
      purposes for which it was obtained. BeanBliss may use your personal
      information for some or all of the following purposes:
    </p>
    <ul>
      <li>
        Orders – to process and ship your orders and inform you about the status
        of the same. Please note that there are e-commerce websites offering
        BeanBliss products but are not controlled or operated by BeanBliss. We
        recommend that you read their policies, including those on privacy,
        before making purchases on such sites.
      </li>
      <li>
        Account maintenance – to create and maintain your accounts with us,
        including the management of consumer loyalty or reward programs
        associated with your account.
      </li>
      <li>
        Customer service – to provide you with customer service, including
        responses to your inquiries, complaints, and general feedback about our
        products. Customer service may be provided through various communication
        methods, including email, letter, phone, and online chat.
      </li>
      <li>
        Consumer engagement – to allow you to be more actively engaged with our
        products and services. This may include using or posting
        consumer-generated content.
      </li>
      <li>
        Personalization – BeanBliss may combine personal information about you
        from one source (e.g., a website) with information obtained from another
        source (e.g., an offline event). This provides BeanBliss with a more
        complete view of you as a consumer, which, in turn, allows BeanBliss to
        serve you better and more personally, including in relation to the
        following points:
      </li>
      <ul>
        <li>
          Websites – to improve and personalize your experience on websites,
          using, for example, data such as account login information, technical
          information about your computer, and/or previous website usage
          information;
        </li>
        <li>
          Products – to improve BeanBliss products, tailor them to your needs,
          and generate new product ideas. This includes using demographic
          information, consumer profile information, and consumer feedback; and
        </li>
        <li>
          Interest-based advertising – to serve you ads tailored to your
          interests. One way BeanBliss does this is by matching activities or
          information collected on BeanBliss Sites with data collected about you
          on third-party sites (i.e., matching browsers or devices believed to
          be related to each other). This type of advertising is also called
          "online behavioral advertising" or "targeted advertising." Such
          personalization is typically carried out by using cookies or similar
          technologies.
        </li>
      </ul>
      <li>
        Marketing communications – to provide you with marketing communications
        where you have opted-in. These can include information about BeanBliss
        products and services, competitions, and promotions. Such communications
        may be shared via electronic means (e.g., SMS, email, online ads, etc.)
        and regular mail.
      </li>
      <li>
        Social features – to provide you with several social features,
        including:
      </li>
      <ul>
        <li>
          Website community features – when you visit BeanBliss Sites and use
          community features such as forums and blogs, you may share personal
          information with other community members and interact with them;
        </li>
        <li>
          Third-party social networking – BeanBliss may collect your personal
          information from a third-party social network when you use the social
          network’s features integrated with BeanBliss Sites, or if you
          participate in one of our social networking features (such as our
          Facebook page). You can learn more about how these features work, and
          the profile data BeanBliss may obtain about you, by visiting the
          website of the relevant third-party social network.
        </li>
      </ul>
      <li>
        Other specific purposes – We may use your personal information for other
        specific business purposes, including maintaining the day-to-day
        operation and security of BeanBliss Sites, conducting demographic
        studies or audits, and contacting you for consumer research.
      </li>
    </ul>
    <h3>5. Personal Information Shared by BeanBliss</h3>
    <p>
      BeanBliss does not share your personal information with third parties who
      intend to use it for direct marketing purposes unless you have provided
      specific consent regarding this. BeanBliss may share your personal
      information with the following types of third parties:
    </p>
    <ul>
      <li>
        Service providers. These are external companies that BeanBliss uses to
        help run its business (e.g., order processing, payment processing, fraud
        control and identity verification, website operation, market research
        companies, support services, promotions, site development, data
        analysis, etc.). Service providers and their staff are only allowed to
        use your information on behalf of BeanBliss for the specific tasks
        requested of them, based on our instructions, and are required to keep
        your personal information confidential and secure.
      </li>
      <li>
        Legal and business purposes. BeanBliss may use and/or disclose your
        personal information as necessary for legal reasons (e.g., for audits,
        to respond to inquiries or requests from government authorities, to
        defend in case of legal claims, or to protect the rights, property, or
        safety of BeanBliss, its employees, customers, or the public).
      </li>
      <li>
        Transfers in business. In the event of a merger or transfer of business
        to another company, BeanBliss may transfer your information to that
        company, informing you in advance.
      </li>
    </ul>
    <h3>6. Your Rights</h3>
    <p>You have the right to:</p>
    <ul>
      <li>
        Be informed about the processing of your personal information (which is
        why we have this Privacy Policy);
      </li>
      <li>
        Request access to the personal information that BeanBliss holds about
        you;
      </li>
      <li>
        Ask for incorrect, inaccurate, or incomplete personal information to be
        corrected;
      </li>
      <li>
        Request that personal information be erased when it’s no longer
        necessary or if you withdraw your consent;
      </li>
      <li>
        Object to the processing of your personal information for marketing
        purposes or on grounds relating to your particular situation;
      </li>
      <li>
        Request the restriction of the processing of your personal information
        in specific cases;
      </li>
      <li>
        Receive your personal information in a machine-readable format and send
        it to another controller (“data portability”);
      </li>
      <li>
        Request that decisions based on automated processing concerning you or
        significantly affecting you and based on your personal information are
        made by natural persons, not only by computers. You also have the right
        in this case to express your point of view and to contest the decision.
      </li>
    </ul>
    <p>
      To exercise your rights, you can contact BeanBliss by using the
      information provided in the "How to Contact Us" section below.
    </p>
    <h3>7. Security and Retention of Information</h3>
    <p>
      BeanBliss uses a range of security measures, including encryption and
      authentication tools, to help protect your personal information. Although
      BeanBliss takes steps to protect your personal information, no company,
      including BeanBliss, can fully eliminate security risks associated with
      personal information.
    </p>
    <p>
      We will retain your personal information for as long as necessary to
      fulfill the purposes outlined in this Privacy Policy, unless a longer
      retention period is required or permitted by law.
    </p>
    <h3>8. How to Contact Us</h3>
    <p>
      If you have any questions about this Privacy Policy or wish to exercise
      your rights, you can contact us:
    </p>
    <p>By email at {{ businessEmail }}</p>
    <p>
      Or by mail at the following address:<br />
      BeanBliss Argentina S.A.<br />
      Attn: Privacy Officer<br />
      Avda. notdeclared 9999<br />
      CABA<br />
      Buenos Aires Province
    </p>
  </div>
</div>
