<div class="container my-5">
  @if (coffee) {
  <div class="col-12 d-flex">
    <div class="card col-5 my-5 mx-auto">
      <div class="card-body">
        <p><span class="cardTitle">Name:</span> {{ coffee.title }}</p>
        <p>
          <span class="cardTitle">Ingredients:</span> {{ coffee.ingredients }}
        </p>
        <p class="card-text">
          <span class="cardTitle">Description:</span>
          {{ coffee.description }}
        </p>
      </div>
    </div>

    <div class="carouselContainer col-5 my-5 mx-auto rounded">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://picsum.photos/650/450"
              class="d-block"
              alt="cat"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/651/450"
              class="d-block"
              alt="cat"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/652/450"
              class="d-block"
              alt="cat"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/653/450"
              class="d-block"
              alt="cat"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/654/450"
              class="d-block"
              alt="cat"
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/655/450"
              class="d-block"
              alt="cat"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  } @else {
  <H2>Article Not Found</H2>
  }
</div>
