* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  font-family: "fira-sans-extra-condensed", sans-serif;

  font-size: 1rem;
}

/*

Climate Crisis

Fira Sans Extra Condensed

crema
#F8FDDD

verde
#AECF75

marron
#3D2200

*/
